@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #0b1426;
    --background: #ffffff;
    --primary: #00e0c6;
    --secondary: #338ccc;
    --accent: #009494;

    color: var(--text);
}

/* daniel */
.light-mode {
    --background: #FFFFFF;
    --text: #000000;
   
}

.dark-mode {
    --background: #000000;
    --text: #FFFFFF;
    
}

body {
    width: 420px;
    height: 460px;
    background-color: var(--background);
    color: var(--text);;
}

/* 原本的code
body {
    width: 420px;
    height: 460px;
    background-color: var(--background);
} */

h2 {
    font-weight: 700;
    font-size: 1.1rem;
}

.darkSrceen,
body.dark-mode .currency-exchanged:first-child {
    background-color: #115e59;
    border: none;
    color: white;
}

.fontColor {
    color: #353434;
}

#dropdown-currency{
    max-height: 160px;
    overflow: auto;
}

#dropdown-currency-button {
    border-color: var(--primary);
}


#foreign-currency-list {
    max-height: 220px;
}

.currency-icon {
    width: 1.7rem;
    height: 1.7rem;
}

.currency-exchanged {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.currency-exchanged img {
    transform: translateY(0.1rem);
    z-index: -1;
}

.currency-exchanged:first-child img {
    transform: translateY(0.1rem) scale(1.2);
}

.currency-name {
    box-sizing: border-box;
    font-weight: 500;
    width: 3rem;
    text-align: center;
    margin-left: 0.5rem;
}

#countryName {
    color: #64748b;
}

.currency-exchanged:first-child .currency-name {
    font-size: 1.4rem;
    margin-left: 1rem;
    text-align: start;
}

.currency-amount {
    flex: 1;
    text-align: end;
    margin-right: 1.4rem;
    margin-top: 0.1rem;
}

.currency-exchanged:first-child .currency-amount {
    font-size: 1.4rem;
    margin-right: 2.35rem;
}

.currency-exchanged svg {
    width: 1.4rem;
    height: 1.4rem;
}

.currency-exchanged svg:hover {
    cursor: pointer;
    color: var(--primary);
    transition: color 0.3s ease-in-out;
}

.currency-exchanged:first-child svg {
    width: 1.6rem;
    height: 1.6rem;
}

.currency-exchanged:first-child svg.lucide-list-start {
    display: none;
}

h2 a:hover {
    cursor: pointer;
    color: var(--primary);
    transition: color 0.3s ease-in-out;
}

#Edit:hover {
    cursor: pointer;
    color: var(--primary);
    transition: color 0.3s ease-in-out;
}

#Refresh:hover {
    cursor: pointer;
    color: var(--primary);
    transition: color 0.3s ease-in-out;
} 

#sun {
    position: absolute;
    top: 15px;
    fill: currentColor;
}
#sun:hover {
    color: var(--primary);
    transition: color 0.3s ease-in-out;
} 

#moon {
    position: absolute;
    top: 15px;
    fill: currentColor;
}
#moon:hover {
    color: var(--primary);
    transition: color 0.3s ease-in-out;
} 

#addNewCurrency:hover {
    cursor: pointer;
    color: var(--primary);
    transition: color 0.3s ease-in-out;
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }